/* 
----------- INDEX -----------
* Custom properties  [#CUST]
* Global resets      [#GRES]
* Layout             [#LAYO] 
* Typography         [#TYPO]  
-----------------------------
*/

/*  -----------------------------------
        Custom properties  [#CUST]        
-----------------------------------  */

:root {
  /* Palette */
  --color-black: hsl(0, 0%, 5%);
  --color-white: hsl(9, 64%, 98%);
  --color-orange-darker: hsl(8, 67%, 7%);
  --color-orange-dark: hsl(9, 69%, 19%);
  --color-orange-light: hsl(9, 69%, 45%);
  --color-text: hsl(11, 68%, 5%);
  --color-accent: hsl(9, 69%, 50%);
  --color-accent--light: hsl(32, 88%, 53%);

  /* Elements colors */
  --color-text-nav: var(--color-white);
  --color-text-nav-title: var(--color-accent);
  --color-link: var(--color-accent);
  --color-link--hover: var(--color-accent--light);

  --color-background: var(--color-orange-darker);
  --color-nav-background: var(--color-orange-darker);
  --color-main-background: var(--color-white);
  /* Layout */
  --page-padding: 0 1rem;
  --page-margin: 0 auto;

  --footer-height: 3rem;
  --nav-height: 3.5rem;
  /*
      2560/2 = 1280px * 545px Macbook Pro Retina, 13-inch

      (2560 × 1600)?

      1040px * huawei Matebook
      --page-width: 1200px;
  */
  --page-width: 1200px;
  --text-width: 35rem;

  /* Typography */
  /* Base font size become 18px */
  font-size: 125%;
  --font-family: 'Montserrat', sans-serif;
}

/*  -----------------------------------
      Global resets [#GRES]        
-----------------------------------  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  overflow-wrap: break-word;
  /* hyphens: auto; */
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}


/*  -----------------------------------
      Typography  [#TYPO]         
-----------------------------------  */

body {
  background-color: var(--color-background);
  color: var(--color-text);
  accent-color: var(--color-accent);
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  /* for MACs */
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: var(--color-link);
  font-weight: 500;

}

a:hover {
  color: var(--color-link--hover);
}

h1 {
  user-select: none;
}

h1 {
  font-size: 9.7rem;
  line-height: 0.75;
  color: var(--color-orange-light);
  font-weight: 900;
  letter-spacing: -0.02rem;
  margin-left: -0.05em;
  padding-bottom: 0.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  color: var(--color-orange-dark);
  letter-spacing: -0.03rem;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
  font-size: 1.75rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3 {
  letter-spacing: -0.02rem;
}

p {
  max-width: var(--text-width);
  padding: 1rem 0;
}



/* 
em {}
strong {} 
*/