@font-face {
    font-family: 'Montserrat';
    src:
        url('/fonts/montserrat-variable.woff2') format('woff2 supports variations'),
        url('/fonts/montserrat-variable.woff2') format('woff2-variations');
    font-weight: 300 900;
    font-display: fallback;
}