@import './base.css';

/* LAYOUT & RESPONSIVENESS */

main {
    max-width: var(--page-width);
    padding: var(--page-padding-top) var(--page-padding-inline) 0 var(--page-padding-inline);
    margin: 0 auto;
}

section {
    display: grid;
    grid-template-columns: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
}


:is(aside, section, .col, nav, div).mobile {
    display: none;
}


@media (max-width: 1000px) {
    :root {
        font-size: 100%;
    }

    section.grid {
        display: grid;
        grid-template-columns: 100%;
    }

    p {
        padding: 0.5rem 0 1rem 0;
    }

    :is(aside, section, .col, nav, div).mobile {
        display: block;
    }

    :is(aside, section, .col, nav, div).desktop {
        display: none;
    }

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 1.4rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
}