@import './base.css';
@import './fonts.css';


/* LAYOUT & RESPONSIVENESS */

main {
    background-color: var(--color-main-background);
}

.content {
    padding: var(--page-padding-top) var(--page-padding-inline) var(--page-padding-bottom) var(--page-padding-inline);
    max-width: var(--page-width);
    margin: 0 auto;
}

:is(aside, section, .col, nav, div).mobile {
    display: none;
}


@media (max-width: 1000px) {
    :root {
        font-size: 100%;
        --page-padding-inline: var(--page-padding-inline--mobile);
        --page-padding-bottom: var(--page-padding-bottom--mobile);
        --page-padding-top: var(--page-padding-top--mobile);
    }

    section.grid {
        display: grid;
        grid-template-columns: 100%;
    }

    p {
        padding: 0.5rem 0 1rem 0;
    }

    :is(aside, section, .col, nav, div).mobile {
        display: block;
    }

    :is(aside, section, .col, nav, div).desktop {
        display: none;
    }

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 1.4rem;
        padding-bottom: 0.5rem;
        padding-top: 1rem;
    }
}